<div class="container-fluid">
        <div class="col-xs-6 col-xs-offset-3" class="box">
              <div class="row">
           <div class="card" >
           <div class="row" class="details">
             <div class="col-xs-8 col-xs-offset-3">
                 <div class="avatar">
                     <img src="{{user.image}}"  />
                 </div>
                <p><span>Name:&nbsp;&nbsp;</span> {{ user.name }}</p>
                <p> <span>Age:&nbsp;&nbsp;</span> {{ user.age }}</p>
                <p><span>Interests:&nbsp;&nbsp;</span> {{ user.interests }}</p>
                <p><span>Languages:&nbsp;&nbsp;</span> {{ user.languages }}</p>
                <p><span>Expertise location:&nbsp;&nbsp;</span>{{user.city }}</p>
                <hr>
                <p><span></span><em>"{{user.description }}"</em></p>
            </div>
           </div>
          </div>
        </div>
    </div>

       <div class="col-xs-7 col-xs-offset-2">
          <div *ngIf="!isAuth">
            <p><button [routerLink]="['/login']">Log in to request agenda</button></p>
          </div>
          <div *ngIf="isAuth">
            <p><button type="button" class="btn btn-default" (click)="isCollapsed = !isCollapsed">Ask {{ user.name }} to Plan your Trip</button></p>
          </div>
      <!-- <div *ngIf="currentUser === 'EXPERT'">
        <p><button [routerLink]="['/signup']">Sign up as a traveler to request!</button></p>
      </div> -->

      </div>



            <!-- <button class="btn btn-success" (click)="isCollapsed = !isCollapsed">Ask {{ user.name }} to Plan your Trip</button> -->
             <!-- <button id="expertList" class="btn btn-success" (click)="goToRequest()"><a style="text-decoration:none; color:white;"> Contact {{ user.name }}</a></button> -->

<!-- <p id="seperate-line">_______________________________________________________________________________________</p> -->

<div class="request-form" (collapsed)="collapsed($event)"
    [collapse]="isCollapsed"
     (expanded)="expanded($event)">
  <!-- <p>Traveler Name {{traveler.name}}</p>
  <p>Expert Name {{user.name}}</p> -->
<div class="col-xs-6 col-xs-offset-3">
    <form>
      <div class="form-group">
        <label for="InputName">Name:</label>
        <input type="text" class="form-control" id="InputName" placeholder="Name" [(ngModel)]="newRequest.name" name="name">
      </div>
      <div class="form-group">
        <label for="InputStartDate">Start Date:</label>
        <input type="date" class="form-control" id="InputStartDate" placeholder="From" [(ngModel)]="newRequest.startDate" name="startDate">
      </div>
      <div class="form-group">
        <label for="InputEndDate">End Date:</label>
        <input type="date" class="form-control" id="InputEndDate" placeholder="To" [(ngModel)]="newRequest.endDate"  name="endDate">
      </div>
      <div class="form-group">
        <label for="InputCity">Where are you travelling?</label>
        <input type="text" class="form-control" id="InputCity" placeholder="city" [(ngModel)]="newRequest.city" name="city">
      </div>
      <div class="form-group">
        <label for="InputWhoIsTravelling">Who are you travelling with?</label>
        <input type="text" class="form-control" id="InputWhoIsTravelling" placeholder="Friends, Couple, Solo, etc." [(ngModel)]="newRequest.whoIsTravelling" name="whoIsTravelling">
      </div>
      <div class="form-group">
        <label for="InputMainInterests">What are your main interests:</label>
        <input type="text" class="form-control" id="InputMainInterests" placeholder="Nightlife, Cultural, Food, etc." [(ngModel)]="newRequest.mainInterests" name="mainInterests" >
      </div>
      <div class="form-group">
        <label for="InputMustKnows">Anything the expert MUST know about you:</label>
        <input type="text" class="form-control" id="InputMustKnows" placeholder="Vegetarian, wheel chair accessibility, etc." [(ngModel)]="newRequest.mustKnows" name="mustKnows">
      </div>
      <div class="form-group">


        <input type="hidden" class="form-control" id="expert"  [(ngModel)]="user._id" name="expert">
      </div>


      <button type="submit" class="btn btn-default btn-primary" (click)="booking(request)">Send the Request</button>
    </form>
  </div>
</div>


</div>
