<div class="agenda-view">

<div class="agenda">
<h1>{{agenda.city}}: Day {{agenda.day}}</h1>

<div class="dining">
  <div>
    <h3>Breakfast Options:</h3>
    <p class="option">{{agenda.breakfast1}}</p>
    <p class="option">{{agenda.breakfast2}}</p>
    <p class="option">{{agenda.breakfast3}}</p>
  </div>

  <div>
    <h3>Lunch Options:</h3>
    <p class="option">{{agenda.lunch1}}</p>
    <p class="option">{{agenda.lunch2}}</p>
    <p class="option">{{agenda.lunch3}}</p>
  </div>

  <div>
    <h3>Dinner Options:</h3>
    <p class="option">{{agenda.dinner1}}</p>
    <p class="option">{{agenda.dinner2}}</p>
    <p class="option">{{agenda.dinner3}}</p>
  </div>
</div>

<div class="activity">

  <div>
    <h3>Morning Activity Options:</h3>
    <p class="option">{{agenda.morningActivity1}}</p>
    <p class="option">{{agenda.morningActivity2}}</p>
    <p class="option">{{agenda.morningActivity3}}</p>
  </div>

  <div>
    <h3>Afternoon Activity Options:</h3>
    <p class="option">{{agenda.afternoonActivity1}}</p>
    <p class="option">{{agenda.afternoonActivity2}}</p>
    <p class="option">{{agenda.afternoonActivity3}}</p>
  </div>

  <div>
    <h3>Evening Activity Options:</h3>
    <p class="option">{{agenda.eveningActivity1}}</p>
    <p class="option">{{agenda.eveningActivity2}}</p>
    <p class="option">{{agenda.eveningActivity3}}</p>
  </div>

</div>

<button class="btn btn-default btn-primary" (click)="removeAgenda()"> Delete </button>

</div>
</div>
