<!--Video Section-->

<div class="container">
     <div class="row">
       <div class="col-lg-12">
         <video class="video1" poster="../assets/10964174.mp4" id="bgvid" playsinline autoplay muted loop>
          <source src="../assets/10964174.mp4" type="video/mp4">
         </video>
    </div>
     </div>

<!--Video Section Ends Here-->
<div class="jumbotron banner">
      <div class="row">
        <div class="col-md-5 title">
        <h1>
          Have a trip that lasts
        </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 center-form">
          <div class="form-group form-inline"><br><br>
            <h2>Where are you going?</h2>
            <label for="cityInput">Where: </label>

             <input id="cityInput" type="text" class="form-control input-lg-custom" placeholder="Destination City" name="cityInput" [(ngModel)]="city" >

            <!-- <input id="from" type="date" class="form-control" placeholder="from" name="from">
            <label for="dateInput">To: </label>
            <input id="to" type="date" class="form-control" placeholder="to" name="to"> -->
            <button id="search-button"(click)="goToSearch()"> Find an expert!</button><br><br>

          </div>
        </div>
      </div>

  </div>


</div>

<div class="row" class="info"><br>
   <div class="col-md-12">
     <h2 class="text-center">HOW DOES IT WORK?</h2>
   </div>

<br>
<br>

<div class="content-fluid">
 <div class="row">
   <div class="col-xs-2"></div>
   <div class="col-xs-8">
       <div class="row">
         <div class="col-md-4">

           <h4 class="text-center">Search </h4>

           <p class="text-justify">experts in your destination and choose the one that you believe shares the same interests and meets the expectations of your journey.</p>
         </div>
         <div class="col-md-4">
           <h4 class="text-center" >Request</h4>

             <p class="text-justify"> a local expert to plan your trip by specifying your journey purpose, dates and anything you find essential for the expert to know so he can create the best agenda for you</p>
         </div>
         <div class="col-md-4">

           <h4 class="text-center">Enjoy your trip!</h4>

           <p class="text-justify"> Your expert will handcraft your unique travel itinerary and for each day you will receive 3 breakfast, lunch and dinner options as well as 3 morning afternoon and evening activities. </p>
         </div>
       </div>
   </div>

 </div>
</div>
</div>

<div class="container-fluid">
 <div class="row" >

     <div class="video-container">
       <video autoplay loop="true" width="1280" height="720">
         <source type="video/mp4" src="../assets/shutterstock_v5785796.mp4">
       </video>
       <div class="col-lg-8">
         <div class="becomeExpert">
           </div>
             <button type="submit" class="expert" [routerLink]="['/signup']">Want to become an expert?</button>
           </div>
   </div>
 </div>
</div>

<footer>
   <!--/.footer-->

   <div class="footer-bottom">
       <div class="container">
           <p class="pull-left"> Copyright © TraWell 2017. All right reserved. </p>
           
       </div>
   </div>
   <!--/.footer-bottom-->
</footer>
